/*图标icon*/
@font-face {
  font-family: 'cnrfont';  /* project id 124648 */
  src: url('//at.alicdn.com/t/font_qiyjrdjfsi3sor.eot');
  src: url('//at.alicdn.com/t/font_qiyjrdjfsi3sor.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_qiyjrdjfsi3sor.woff') format('woff'),
  url('//at.alicdn.com/t/font_qiyjrdjfsi3sor.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_qiyjrdjfsi3sor.svg#cnrfont') format('svg');
}
/*藏语字体*/
@font-face {
  font-family: 'tibetanfont';  /* project id："124648" */
  src: url('../fonts/Qomolangma-UchenSarchung.eot');
  src: url('../fonts/Qomolangma-UchenSarchung.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Qomolangma-UchenSuring.ttf') format('truetype');
}
/*维语字体*/
@font-face {
  font-family: 'uyghurfont';  /* project id："124648" */
  src: url('../fonts/alkatip.eot');
  src: url('../fonts/alkatip.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ALKATIP_Basma_Tom.ttf') format('truetype');
}
/*哈语字体*/
@font-face {
  font-family: 'kazakfont';  /* project id："124648" */
  src: url('../fonts/ALKATIP_Basma_Tom.eot');
  src: url('../fonts/ALKATIP_Basma_Tom.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ALKATIP_Basma_Tom.ttf') format('truetype');
}

.cnrfont {
  font-family:"cnrfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}
